@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&display=swap');

:root {
	--unicon-pink: #e8317c;
	--unicon-lightblue: #b3e2ed;
	--unicon-font-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

.grid {
	display: grid;
}

/* START of: grid-area definition */

.start_text__container {
	grid-area: startText;
}

.start_img__container {
	grid-area: startImg;
	width: 100%
}

.video_text__container {
	grid-area: videoT;
}

.video__container {
	grid-area: video;
}

.signup_text__container {
	grid-area: signupText;
}

.signup_img__container {
	grid-area: signupImg;
}

.speech_text__container {
	grid-area: speechText;
}

.speech_img__container {
	grid-area: speechImg;
}

.student_text__container {
	grid-area: studentText;
}

.student_img__container {
	grid-area: studentImg;
}

.challenge_text__container {
	grid-area: challengeText;
}

.challenge_img__container {
	grid-area: challengeImg;
}

.workshop_text__container {
	grid-area: workshpText;
}

.workshop_img__container {
	grid-area: workshpImg;
}

.speaker_text__container {
	grid-area: speakerText;
}

.speaker_img__container {
	grid-area: speakerImg;
}

.agenda__container {
	grid-area: agenda;
}

.university_text__container {
	grid-area: universText;
}

.university_img__container {
	grid-area: universImg;
}

.partner_text__container {
	grid-area: partnerText;
}

.partner_img__container {
	grid-area: partnerImg;
}

.faq__container {
	grid-area: faq;
}

footer {
	grid-area: footer;
}

/*  END of: grid-area definition */

/* START of: grid definition MOBILE*/
.grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:
		/*2. startText*/
		400px
		/* 3. startImg*/
		277px
		/* 4. videoText*/
		200px
		/* 4.1 video*/
		250px
		/* 5. signupText*/
		235px
		/* 6.- 9. sppech, students, challenge, workshop*/
		repeat(4, 170px)
		/* 10. spaekerText*/
		140px
		/* 11. speakerImg*/
		326px
		/* 12. universText*/
		100px
		/* 13. universImg*/
		116px
		/* 14. partnerText*/
		190px
		/* 15. partnerImg*/
		100px
		/* 16. FAQ*/
		444px
		/* 17. footer*/
		144px;

	grid-template-areas:
		/*2*/
		"startText startText startText startText"
		/*3*/
		"startImg startImg startImg startImg"
		/*4*/
		"videoT videoT videoT videoT"
		/*4.1*/
		"video video video video"
		/*5*/
		"signupText signupText signupText signupText"
		/*6*/
		"speechText speechText speechText speechText"
		/*7*/
		"studentText studentText studentText studentText"
		/*8*/
		"challengeText challengeText challengeText challengeText"
		/*9*/
		"workshpText workshpText workshpText workshpText"
		/*10*/
		"speakerText speakerText speakerText speakerText"
		/*11*/
		"speakerImg speakerImg speakerImg speakerImg"
		/*12*/
		"universText universText universText universText"
		/*13*/
		"universImg universImg universImg universImg"
		/*14*/
		"partnerText partnerText partnerText partnerText"
		/*15*/
		"partnerImg partnerImg partnerImg partnerImg"
		/*16*/
		"faq faq faq faq"
		/*17*/
		"footer footer footer footer";

	text-align: center;
	justify-items: center;
}


/* END of: grid definiton MOBILE*/
header {
	display: flex;
}

.start_text__container {
	align-self: center;
	padding-top: 50px;
}

.video_text__container {
	text-align: center;
	justify-self: center;
	padding-top: 50px;
}

.m_videoHeader,
.m_videoSubTitles {
	width: 195px;
}

.logo {
	width: 96px;
	height: 38px;
	float: left;
}

#m_start_img {
	width: 380px;
}

#speech_img {
	display: none;
}

.m_title {
	font-size: 38px;
	font-weight: 900;
	color: var(--unicon-pink);
}

.m_titlesubTitle {
	font-size: 14px;
	font-weight: 900;
	color: var(--unicon-pink);
}

.m_dateLocation {
	font-size: 14px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}

#m_start_img {
	height: 277px;
	width: 100%;
}

.m_signUp {
	font-size: 20px;
	font-weight: 800;
	background-color: var(--unicon-pink);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 9px 25px;
}

.university-img,
.divider,
.university-name {
	display: none;
}


.m_videoHeader {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;
}

.m_videoSubTitles {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 55px;
}


.m_textSignUp {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 25px;
	width: 290px;
}

.m_textInfoP {
	margin-top: 10px;
	font-size: 12px;
	width: 280px;
}

.d_textInfoQuote {
	display: none;
}

.m_font12px {
	font-size: 12px;
}


footer {
	background-color: var(--unicon-lightblue);
}

/* Hide desktop elements with different content on mobile */
@media screen and (max-width: 900px) {
	.agenda__container {
		display: none;
	}

	.d_titlesubTitle {
		display: none;
	}

	.d_dateLocation {
		display: none;
	}

	.d_video {
		display: none;
	}

	.d_imageDivRight {
		display: none;
		overflow: none;
	}

	.d_imageDivLeft {
		display: none;
	}

	.d_imageDivRight img {
		width: 0;
		height: 0;
	}

	.d_imageDivLeft img {
		width: 0;
		height: 0;
	}

	.d_speakerWrapper {
		display: none;
	}

	.d_speakerImg {
		width: 0;
	}

	#speaker_illustration {
		width: 0;
	}

	.d_sectionImg {
		display: none;
	}
}

/* START of Desktop classes */
@media screen and (min-width: 900px) {
	#page-wrapper {
		margin-left: 10%;
		margin-right: 10%;
	}

	#path1-container {
		grid-area: path1;
	}

	#path2-container {
		grid-area: path2;
	}

	#path3-container {
		grid-area: path3;
	}

	#path4-container {
		grid-area: path4;
	}

	#path5-container {
		grid-area: path5;
	}

	.divider {
		width: 100vw;
		margin-left: -10%;
		margin-right: -10%;
	}

	#speaker1 {
		grid-area: speaker1;
	}

	#speaker2 {
		grid-area: speaker2;
	}

	#speaker3 {
		grid-area: speaker3;
	}

	#speaker4 {
		grid-area: speaker4;
	}

	#speaker5 {
		grid-area: speaker5;
	}

	#speaker6 {
		grid-area: speaker6;
	}

	#speaker_illustration_div {
		grid-area: speakerIllu;

	}

	.grid {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows:
			/* 1. startText*/
			367px
			/* 2. startImg*/
			416px
			/* 3. videoText*/
			100px
			/*3.1 video*/
			565px
			/* 4. Divider 1 */
			41px
			/* 5. signup*/
			360px
			/* 6. Divider 2 */
			41px
			/* 7. - 10. sppech, students, challenge, workshp, */
			repeat(4, 380px)
			/* 11. Divider 3 */
			41px
			/* 12. speakerText*/
			120px
			/* 13. speakerImg*/
			575px
			/* 14. agenda*/
			684px
			/* 15. universText*/
			90px
			/* 16. universImg*/
			329px
			/* 17. Divider 4 */
			41px
			/* 18. partnerText*/
			160px
			/* 19. partnerImg*/
			385px
			/* 20. Divider 5 */
			41px
			/* 21. faq*/
			739px
			/* 22. footer*/
			342px;

		grid-template-areas:
			/*1 */
			"startText startText startText startText startText startText startText startText startText startText startText startText"
			/*2 */
			"startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg"
			/*3 */
			"videoT videoT videoT videoT videoT videoT videoT videoT videoT videoT videoT videoT"
			/*3.1*/
			"video video video video video video video video video video video video"
			/*4 */
			"path1 path1 path1 path1 path1 path1 path1 path1 path1 path1 path1 path1"
			/*5*/
			"signupImg signupImg signupImg signupImg signupImg signupImg signupText signupText signupText signupText signupText signupText"
			/*6 */
			"path2 path2 path2 path2 path2 path2 path2 path2 path2 path2 path2 path2"
			/*7*/
			"speechImg speechImg speechImg speechImg speechImg speechImg speechText speechText speechText speechText speechText speechText"
			/*8*/
			"studentText studentText studentText studentText studentText studentText studentImg studentImg studentImg studentImg studentImg studentImg"
			/*9*/
			"challengeImg challengeImg challengeImg challengeImg challengeImg challengeImg challengeText challengeText challengeText challengeText challengeText challengeText"
			/*10*/
			"workshpText workshpText workshpText workshpText workshpText workshpText workshpImg workshpImg workshpImg workshpImg workshpImg workshpImg"
			/* 11 */
			"path3 path3 path3 path3 path3 path3 path3 path3 path3 path3 path3 path3"
			/*12*/
			"speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText"
			/*13*/
			"speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg "
			/*14*/
			"agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda"
			/*15*/
			"universText universText universText universText universText universText universText universText universText universText universText universText"
			/*16*/
			"universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg"
			/* 17 */
			"path4 path4 path4 path4 path4 path4 path4 path4 path4 path4 path4 path4"
			/*18*/
			"partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText"
			/*19*/
			"partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg"
			/*20 */
			"path5 path5 path5 path5 path5 path5 path5 path5 path5 path5 path5 path5"
			/*21*/
			"faq faq faq faq faq faq faq faq faq faq faq faq"
			/*22*/
			"footer footer footer footer footer footer footer footer footer footer footer footer";
		justify-items: left;
		text-align: left;
	}

	.speaker-grid {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows:
			280px 280px;
		grid-template-areas:
			"speaker1 speaker2 speaker3 speakerIllu"
			"speaker4 speaker5 speaker6 speakerIllu"
		;
	}

	/* Disable mobile classes */
	/* display: none; */

	.m_titlesubTitle {
		display: none;
	}

	.m_dateLocation {
		display: none;
	}

	#m_start_img {
		display: none;
	}


	.m_textInfoP {
		margin: 10px 18px;
		font-size: 12px;
	}

	.m_font12px {
		display: none;
		font-size: 12px;
	}


	/* Define desktop classes */
	#d_start_img {
		margin-left: -10%;
		margin-right: -10%;
		width: 100vw;
	}

	.d_title {
		grid-column-start: 1;
		grid-column-end: 6;
		font-size: 100px;
		font-weight: 900;
		color: var(--unicon-pink);
		margin-top: 65px;
		text-align: left;
	}


	.d_titlesubTitle {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		color: var(--unicon-font-color);
	}

	.m_dateLocation {
		visibility: hidden;
	}

	.d_dateLocation {
		text-align: left;
		font-size: 22px;
		font-weight: 500;
		margin-top: 260px;
		margin-bottom: 40px;
	}

	#signup-btn-start {
		visibility: hidden;
	}

	.d_signUp {
		font-size: 20px;
		font-weight: 800;
		background-color: var(--unicon-pink);
		color: white;
		border-radius: 5px;
		border: none;
		padding: 9px 25px;
	}



	.d_videoHeader {
		text-align: left;
		font-size: 25px;
		font-weight: 700;
		margin-left: 75px;
		margin-top: 100px;
	}

	.d_videoSubTitles {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		margin-left: 180px;
		margin-bottom: 55px;
	}

	.d_iframeContainer {
		margin-left: 10%;
		margin-right: 10%;
		text-align: left;
		position: relative;
		padding-bottom: 45%;
		overflow: hidden;
	}

	.d_iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.d_textSignUp {
		/*grid-column-start: 4;*/
		font-size: 20px;
		text-align: left;
		font-weight: 500;
		margin-bottom: 25px;

		margin-right: 10vw;
	}

	.d_sectionImg {
		max-width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	h2 {
		font-size: 35px;
	}

	.d_textInfoWrapperLeft {
		overflow: hidden;
		max-width: 30%;
		float: left;
		margin-top: 50px;
		margin-left: 10%;
		text-align: right;
	}

	.d_textInfoWrapperRight {
		overflow: hidden;
		margin-top: 50px;
		text-align: left;
		max-width: 30%;
		margin-right: 10%;
		float: right;
	}

	.d_textInfoP {
		margin-top: 18px;
		font-size: 16px;
		float: none;
		/*display: inline;*/
	}

	.d_imageDivRight {
		margin-right: 180px;
		width: 500px;
		height: 400px;
		overflow: hidden;
		float: right;
	}

	.d_imageDivRight img {
		width: 500px;
		height: 400px;
	}

	.d_imageDivLeft {
		margin-left: 180px;
		width: 500px;
		height: 400px;
		overflow: hidden;
		float: left;
	}

	.d_imageDivLeft img {
		width: 500px;
		height: 400px;
	}

	.d_textInfoQuote {
		margin-top: 50px;
	}

	.d_speakerImg {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		overflow: hidden;
	}

	.d_speakerName {
		font-size: 24px;
	}

	.d_speakerPosition {
		font-size: 16px;
	}

	.d_speaker {
		margin: 20px;
	}


	#speaker_illustration {
		margin-top: 50%;
		width: 100%;
		height: auto;
	}

	.d_font12px {
		font-size: 12px;
	}

	#agenda_background {
		margin-left: 10vw;
		margin-right: 10vw;
		text-align: left;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows:
			auto auto auto auto auto auto auto;
		grid-template-areas:
			"agenda_header agenda_header agenda_header"

			"agenda_none1 agenda_none2 agenda_d3"

			"agenda_none1 agenda_d2 agenda_d3"

			"agenda_d1 agenda_d2 agenda_d3"

			"agenda_none3 agenda_d2 agenda_d3"
			"agenda_none3 agenda_none4 agenda_d3";
	}

	.agenda__container {
		width: 100vw;
		margin-left: -10vw;
		margin-right: -10vw;
		background-image: url(./assets/agenda-section-background.svg);
		background-repeat: no-repeat;
	}

	.d_agendaHeader {
		margin-top: 100px;
		grid-area: agenda_header;
		text-align: left;
	}

	.agenda-none {
		grid-area: agenda_none;
	}

	#agenda-none1 {
		grid-area: agenda_none1;
	}

	#agenda-none2 {
		grid-area: agenda_none2;
	}

	#agenda-none3 {
		grid-area: agenda_none3;
	}

	#agenda-none4 {
		grid-area: agenda_none4;
	}

	.d_agendaDay {
		float: left;
		margin-left: 10%;
	}

	#agenda-day1 {
		grid-area: agenda_d1;
	}

	#agenda-day2 {
		grid-area: agenda_d2;
	}

	#agenda-day3 {
		grid-area: agenda_d3;
	}

	.d_agendaTable {
		margin-top: 30px;
	}

	.d_agendaTable tr {
		height: 40px;
	}

	.d_agendaTable td {
		width: 150px;
	}

	.d_studentsHeader {
		text-align: left;
		margin-top: 50px;
	}

	#uni_tum {
	grid-area: tum;
	}

	#uni_whu {
		grid-area: whu;
	}

	#uni_hpi {
		grid-area: hpi;
	}

	#uni_warwick {
		grid-area: warwick;
	}

	#uni_friedrichshafen {
		grid-area: friedrichshafen;
	}

	#uni_tub {
		grid-area: tub;
	}

	#uni_mannheim {
		grid-area: mannheim;
	}

	#uni_maastricht {
		grid-area: maastricht;
	}

	#globe_illustration {
		grid-area: globe;
	}

	#university_grid_container {
		display: grid;
		grid-template-columns: repeat(6, 16.66%);
		grid-template-rows:
			200px 200px;
		grid-template-areas:
			"tum whu hpi warwick globe globe"
			"friedrichshafen tub mannheim maastricht globe globe";
	}

	.university-img {
		width: 100%;
	}

	.university-name {
		text-align: center;
	}
}






/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:first-child {
	padding-top: 5px;
	padding-left: 8px;
}

.topnav a:first-child {
	float: left;
	display: block;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}

	nav a:nth-child(2) {
		margin-top: 25px;
	}
}





.accordion {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: 1px solid var(--unicon-lightblue);
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\203A';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

