@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&display=swap');

:root {
	--unicon-pink: #e8317c;
	--unicon-lightblue: #b3e2ed;
	--unicon-font-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

.grid {
	display: grid;
}

/* START of: grid-area definition */

.start_text__container {
	grid-area: startText;
}

.start_img__container {
	grid-area: startImg;
	width: 100%
}

.video_text__container {
	grid-area: videoT;
}

.video__container {
	grid-area: video;
}

.divider_one__container {
	grid-area: div1;
}

.signup_img__container {
	grid-area: signupImg;
}

.signup_text__container {
	grid-area: signupText;
}

.divider_two__container {
	grid-area: div2;
}

.speech_text__container {
	grid-area: speechText;
}

.speech_img__container {
	grid-area: speechImg;
}

.student_text__container {
	grid-area: studentText;
}

.student_img__container {
	grid-area: studentImg;
}

.challenge_text__container {
	grid-area: challengeText;
}

.challenge_img__container {
	grid-area: challengeImg;
}

.workshop_text__container {
	grid-area: workshpText;
}

.workshop_img__container {
	grid-area: workshpImg;
}

.divider_three__container {
	grid-area: div3;
}

.speaker_text__container {
	grid-area: speakerText;
}

.speaker_img__container {
	grid-area: speakerImg;
}

.speaker_illustration__container {
	grid-area: speakerIllu;
}

.divider_four__container {
	grid-area: div4;
}

.agenda__container {
	grid-area: agenda;
}

.university_text__container {
	grid-area: universText;
}

.university_img__container {
	grid-area: universImg;
}

.university_illustration__container {
	grid-area: universIllu;
}

.divider_five__container {
	grid-area: div5;
}

.partner_text__container {
	grid-area: partnerText;
}

.partner_img__container {
	grid-area: partnerImg;
}

.partner_illustration__container {
	grid-area: partnerIllu;
}

.divider_six__container {
	grid-area: div6;
}

.faq__container {
	grid-area: faq;
}

footer {
	grid-area: footer;
}

/*  END of: grid-area definition */

/* START of: grid definition MOBILE*/
.grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:
		380px
		300px
		140px
		360px
		12px
		200px
		12px
		290px
		repeat(3, 220px)
		16px
		190px
		360px
		16px
		180px
		240px
		12px
		240px
		110px
		25px
		auto
		175px;

	grid-template-areas:
		/*2*/
		"startText startText startText startText"
		/*3*/
		"startImg startImg startImg startImg"
		/*4*/
		"videoT videoT videoT videoT"
		/*4.1*/
		"video video video video"
		/*5.1*/
		"div1 div1 div1 div1"
		/*5*/
		"signupText signupText signupText signupText"
		/*5.2*/
		"div2 div2 div2 div2"
		/*6*/
		"speechText speechText speechText speechText"
		/*7*/
		"studentText studentText studentText studentText"
		/*8*/
		"challengeText challengeText challengeText challengeText"
		/*9*/
		"workshpText workshpText workshpText workshpText"
		/*9.1*/
		"div5 div5 div5 div5"
		/*10*/
		"speakerText speakerText speakerText speakerText"
		/*11*/
		"speakerImg speakerImg speakerImg speakerImg"
		/*11.1*/
		"div6 div6 div6 div6"
		/*12*/
		"universText universText universText universText"
		/*13*/
		"universImg universImg universImg universImg"
		/*14.1*/
		"div3 div3 div3 div3"
		/*14*/
		"partnerText partnerText partnerText partnerText"
		/*15*/
		"partnerImg partnerImg partnerImg partnerImg"
		/*15.1*/
		"div4 div4 div4 div4"
		/*16*/
		"faq faq faq faq"
		/*17*/
		"footer footer footer footer";

	text-align: center;
	justify-items: center;
	align-items: center;
}


/* END of: grid definiton MOBILE*/
header {
	display: flex;
	width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 15px 125px;
	text-decoration: none;
	font-size: 15px;
}

#burger {
	padding: 17px 31px;
}

.topnav a:first-child {
	padding-left: 8px;
	padding-bottom: 0px;
}

.topnav a:first-child {
	float: left;
	display: block;
}

.topnav a:hover {
	color: var(--unicon-pink);
}

.topnav a.active {
	color: white;
}

.topnav .icon {
	display: none;
}


@media screen and (max-width: 732px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 732px) {
	.topnav.responsive {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(179, 226, 237, 0.95);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
		font-weight: 900;
		font-size: 16px;
	}

	nav a:nth-child(2) {
		margin-top: 40px;
		color: white;
	}
	.left-image {
		height: 26vw;
	}
	.right-image {
		height: 26vw;
	}
}

.material-icons-round.md-20 {
	font-size: 20px;
}

.material-icons-round.md-36 {
	font-size: 36px;
}

.material-icons-round.white {
	color: white;
}

.material-icons-round.circle {
	background-color: var(--unicon-lightblue);
	padding: 8px 8px 9px 8px;
	border-radius: 50px;
	margin-bottom: 5px;
}

#logo {
	width: 100px;
	height: 44px;
	float: left;
	margin: 8px 15px;
}

#first_link {
	padding: 0;
}

#signup_btn_nav {
	background-color: var(--unicon-lightblue);
	color: var(--unicon-pink);
}

.start_text__container {
	padding-top: 70px;
	height: 245px;
}

.website_title {
	font-size: 38px;
	font-weight: 900;
	color: var(--unicon-pink);
}

.website_subtitle {
	font-size: 14px;
	font-weight: 900;
	color: var(--unicon-font-color);
}

.date_loc {
	color: var(--unicon-font-color);
}

.start_illustration_mobile {
	width: 100%;
}

.date_and_location {
	font-size: 14px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}

.signUp_button_page {
	font-size: 20px;
	font-weight: 800;
	background-color: var(--unicon-pink);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 9px 25px;
}

.signUp_button_start {
	font-size: 20px;
	font-weight: 800;
	background-color: var(--unicon-pink);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 9px 25px;
}


.video_text__container {
	text-align: center;
	align-self: end;
}

.video_header {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;
}

.video_subHeader {
	font-size: 12px;
	font-weight: 600;
}

.video_header,
.video_subHeader {
	width: 290px;
	text-decoration: none;
}

.video__container {
	margin-bottom: 10px;
}

iframe {
	height: 190px;
	border: 8px solid var(--unicon-lightblue);
	border-radius: 5px;
}




.signup_text__container {
	align-self: center;
}

.signUp_text {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 25px;
	width: 340px;
}





.divider {
	width: 100%;
}

.center {
	text-align: center;
}

span {
	color: var(--unicon-pink);
}


.right_image, 
.left_image {
	display: none;
}

.speech_text__container {
	margin-bottom: -80px;
}




.info_section_text {
	margin-top: 10px;
	font-size: 12px;
	margin: 10px 35px;
}

.speaker_text__container {
	margin-top: 80px;
}

#speaker1 {
	grid-area: speaker1;
}

#speaker2 {
	grid-area: speaker2;
}

#speaker3 {
	grid-area: speaker3;
}

#speaker4 {
	grid-area: speaker4;
}

#speaker5 {
	grid-area: speaker5;
}

#speaker6 {
	grid-area: speaker6;
}

.speaker_img__container {
	display: grid;
	grid-template-columns: repeat(2, 160px);
	grid-template-rows:
		150px 150px;
	grid-template-areas:
		"speaker4 speaker1"
		"speaker3 speaker2";
	justify-items: center;
	align-items: center;
}

.speaker_image {
	border: 5px solid var(--unicon-lightblue);
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.speaker_name {
	font-size: 10px;
}

.speaker_company {
	font-size: 8px;
}


.university_text__container {
	margin-top: 85px;
}

#uni1 {
	grid-area: uni1;
}

#uni2 {
	grid-area: uni2;
}

#uni3 {
	grid-area: uni3;
}

#uni4 {
	grid-area: uni4;
}

#uni5 {
	grid-area: uni5;
}

#uni6 {
	grid-area: uni6;
}

#uni7 {
	grid-area: uni7;
}

#uni8 {
	grid-area: uni8;
}

#uni9 {
	grid-area: uni9;
}

#uni10 {
	grid-area: uni10;
}

#uni11 {
	grid-area: uni11;
}

#uni12 {
	grid-area: uni12;
}

.university_img__container {
	display: grid;
	grid-template-columns: repeat(4, 76px);
	grid-template-rows:
		50px 50px;
	grid-row-gap: 20px;
	grid-template-areas:
		"uni1 uni2 uni3 uni4"
		"uni5 uni6 uni7 uni8";
	align-items: center;
	justify-items: center;
	margin-bottom: 80px;
	margin-top: 20px;
}

.university_image {
	width: 80px;
	height: 60px;
}


.partner_text__container {
	align-self: start;
}

.partner_text__container h2 {
	margin-top: 30px;
	padding-top: 0px;
}

#contact_link {
	color: var(--unicon-pink);
	font-weight: bold;
}

#partner1 {
	grid-area: partner1;
}

#partner2 {
	grid-area: partner2;
}

#partner3 {
	grid-area: partner3;
}

#partner4 {
	grid-area: partner4;
}

#partner5 {
	grid-area: partner5;
}

#partner6 {
	grid-area: partner6;
}

#partner7 {
	grid-area: partner7;
}

#partner8 {
	grid-area: partner8;
}

#partner9 {
	grid-area: partner9;
}

#partner10 {
	grid-area: partner10;
}

#partner11 {
	grid-area: partner11;
}

#partner12 {
	grid-area: partner12;
}

.partner_img__container {
	display: grid;
	grid-template-columns: repeat(5, 56px);
	grid-template-rows:
		40px 40px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-areas:
		"partner1 partner2 partner3 partner4 partner5"
		"partner6 partner7 partner8 partner9 partner10";
	margin-bottom: 30px;
}

.partner_image {
	width: 60px;
	height: 40px;
}

.divider_four__container {
	margin-top: 30px;
}

.divider_five__container {
	margin-top: 50px;
}

.faq__container {
	margin: 45px 0px;
}

.faq_header {
	margin-bottom: 35px;
	padding-top: 50px;
}

.accordion {
	color: var(--unicon-font-color);
	background-color: white;
	cursor: pointer;
	padding: 18px 30px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	transition: 0.4s;
	border-top: 1px solid var(--unicon-lightblue);
	border-bottom: 1px solid var(--unicon-lightblue);
}

.border_2px_top {
	border-top-width: 2px;
}

.border_2px_bot {
	border-bottom-width: 2px;
}

.accordion:hover {
	background-color: var(--unicon-lightblue);
	color: white;
}

.accordion:after {
	content: '\002B';
	color: var(--unicon-pink);
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
	color: var(--unicon-pink);
}

.panel {
	padding: 0px 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel p {
	font-size: 10px;
	font-weight: 600px;
	font-size: 10px;
	padding-left: 7%;
	text-align: left;
}

.panel_exception {
	text-align: center;
}

footer {
	background-color: var(--unicon-lightblue);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-left: 0vw;
	text-align: center;
}

footer div h4 {
	margin: 15px;
	text-align: center;
	font-size: 15px;
}

footer ul {
	list-style: none;
}

footer div li {
	font-size: 13px;
	margin: 5px;
}

footer div li a {
	color: var(--unicon-font-color);
	text-decoration: none;
}

.start_illustration_desktop,
.desktop_divider,
.signup_illustration,
#info_section_image,
#speaker5,
#speaker6,
#speaker_illustration,
.agenda__container,
.university_name,
.university_illustration,
.university_image_desktop,
#partner11,
#partner12,
.info_section_quote,
.partner_illustration__container,
.university_illustration__container,
#uni9,
#uni10,
#uni11,
#uni12,
.date_and_location,
.divider_x__container
 {
	display: none;
}

.date_loc {
	margin-bottom: 20px;
}

.button_margin_start {
	margin-top: 55px;
}

.about_section {
	text-align: center;
}
.about_title {
	color: var(--unicon-pink);
	font-size: 38px;
	font-weight: 900;
	margin-bottom: 70px;
	padding-top: 100px;
}
.about_header {
	color: var(--unicon-font-color);
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 16px;
}
.about_text {
	font-size: 12px;
	font-weight: 600;
	margin: 22px 5%;
}
.gap_one {
	margin-bottom: 95px;
}
.respo_margin {
	margin-bottom: 45px;
}
.mobile_values {
	width: 95%;
}
.founding_names {
	font-size: 9px;
  	font-weight: 900;
  	margin: 0px 5% 80px 5%;
}
.active_image {
	width: 90%;
	margin: 16px 5% 90px 5%;
	border-radius: 5px;
}
#exception {
	margin-bottom: 4px;
}
.desktop_values {
	display: none;
}

.team_wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-right: 5%;
	margin-left: 5%;
	align-content: flex-start; 
}
div.box_wrapper div img {
	width: 75px;
	height: 75px;
}

.team_name {
	font-size: 11px;
	font-weight: 900;
	margin-top:  8px;
	margin-bottom: 4px;
}
.team_respinsibility {
	margin-bottom: 70px;
	font-size: 8px;
}
.text_wrapper {
	text-align: center;
}

.box_wrapper {
	min-width: 25%;
	width: auto; 
	height: auto;
}


.placeholder_apply {
	padding-top: 100px;
}
.pretix-widget-wrapper {
	margin-left: 15%;
	margin-right: 15%;
}
.gap_margin {
	margin-bottom: 10%;
}

.gap_margin2 {
	margin-bottom: 46%;
	margin-top: 10%;
}

.value_wrapper {
		display: grid;
		align-items: center;
		justify-items: center;
		width: 100%;
		grid-template-columns: repeat(2, 180px);
		grid-row-gap: 50px;
		grid-template-rows: repeat(3, 100px);
		margin: 20px 5% 100px 5%;
	}

	/* Centered text */
	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-weight: bold;
	  font-size: 15px;
	}
	.values {
	  position: relative;
	  text-align: center;
	  color: black;
	  justify-self: center;
	}

	.values img {
		width: 70%;
	}






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 732px) {
	#signup_btn_nav {
		padding: 11px 26px;
		color: white;
		background-color: var(--unicon-pink);
		margin-top: 13px;
		margin-right: 20px;
		margin-left: 25px;
		border-radius: 5px;
	}

	.topnav a {
		padding: 0;
		padding-right: 25px;
		padding-top: 25px;
		padding-bottom: 25px;
		font-size: 16px;
		font-weight: 800;
	}

	img#logo {
		margin-top: 8px;
	}

	.video_text__container {
		text-align: left;
		justify-self: start;
		margin-left: 10%;
	}

	.video_header,
	.video_subHeader {
		width: 100%;
	}

	.video__container {
		width: 75%;
	}

	iframe {
		width: 100%;
		height: 250px;
	}
	div.box_wrapper div img {
	width: 130px;
	height: 130px;
	}
	.team_name {
		font-size: 22px;
		font-weight: 900;
		margin-top:  8px;
		margin-bottom: 4px;
	}
	.team_respinsibility {
		margin-bottom: 70px;
		font-size: 14px;
	}
	.text_wrapper {
		text-align: center;
	}

	.box_wrapper {
		min-width: 25%;
		width: auto; 
		height: auto;
	}
	.info_section_quote {
		margin-top: 20px;
	}
	.value_wrapper {
		display: grid;
		align-items: center;
		width: 100%;
		grid-template-columns: repeat(3, 30%);
		grid-row-gap: 50px;
		grid-template-rows: repeat(2, 160px);
		margin: 20px 5% 100px 5%;
	}
	.values {
	  position: relative;
	  text-align: center;
	  color: black;
	  justify-self: center;
	}

	/* Centered text */
	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-weight: 900;
	  font-size: 24px;
	}
}

/* Large devices (laptops/desktops, 950px and up) */
@media (min-width: 950px) {
	.start_illustration_desktop,
	.desktop_divider,
	.signup_illustration,
	#info_section_image,
	#speaker5,
	#speaker6,
	#speaker_illustration,
	.agenda__container,
	.university_name,
	.university_illustration,
	.university_image_desktop,
	#partner11,
	#partner12,
	.info_section_quote,
	.signup_illustration,
	#speaker_illustration,
	.agenda__container,
	.university_illustration {
		display: block;
	}

	.mobile_divider,
	.university_image {
		display: none;
	}

	.divider_x__container {
		grid-area: gapx;
		width: 100%;
	}

	.grid {
		text-align: normal;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows:
			/*1*/ 439px 
			/*2*/ 600px 
			/*2.1*/ 90px
			/*3*/ 75px 
			/*3.1*/ 80px
			/*4*/ 565px 
			/*4.1*/ 120px
			/*5*/ 41px 
			/*6*/ 244px 
			/*7*/ 41px 
			/*7.1*/ 150px
			/*8*/ 380px
			/*8.1*/ 100px
			/*9*/ 380px
			/*9.1*/ 100px
			/*10*/ 380px
			/*10.1*/ 100px
			/*11*/ 380px
			/*11.1*/ 150px
			/*12*/ 41px 
			/*12.1*/ 100px
			/*13*/ 120px 
			/*13.1*/ 55px
			/*14*/ 600px 
			/*14.1*/ 100px
			/*15*/ /*600px*/ 
			/*15.x*/ 41px
			/*15.1*/ 100px
			/*16*/ 80px
			/*16.1*/ 70px 
			/*17*/ 483px
			/*17.1*/ 80px 
			/*18*/ 41px 
			/*18.1*/ 74px 
			/*19*/ 159px 
			/*19.1*/ 50px
			/*20*/ 467px 
			/*20.1*/ 74px
			/*21*/ 41px  
			/*21.1*/ 100px
			/*23*/ auto
			/*24*/ 250px;

		grid-template-areas:
			/* 1 */ ". startText startText startText startText startText startText startText startText startText startText ."
			/* 2 */ "startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg"
			/* 2.1 */ "gap1 gap1 gap1 gap1 gap1 gap1 gap1 gap1 gap1 gap1 gap1 gap1"
			/* 3 */ ". videoT videoT videoT videoT videoT videoT videoT videoT videoT videoT ."
			/* 3.1 */ "gap2 gap2 gap2 gap2 gap2 gap2 gap2 gap2 gap2 gap2 gap2 gap2"
			/* 4 */ ". video video video video video video video video video video ."
			/* 4.1 */ "gap3 gap3 gap3 gap3 gap3 gap3 gap3 gap3 gap3 gap3 gap3 gap3"
			/* 5 */ "div1 div1 div1 div1 div1 div1 div1 div1 div1 div1 div1 div1"
			/* 6 */ ". signupImg signupImg signupImg signupImg signupImg . signupText signupText signupText signupText ."
			/* 7 */ "div2 div2 div2 div2 div2 div2 div2 div2 div2 div2 div2 div2"
			/* 7.1 */ "gap4 gap4 gap4 gap4 gap4 gap4 gap4 gap4 gap4 gap4 gap4 gap4"
			/* 8 */ ". speechImg speechImg speechImg speechImg speechImg speechImg speechText speechText speechText speechText speechText"
			/* 8.1 */ "gap5 gap5 gap5 gap5 gap5 gap5 gap5 gap5 gap5 gap5 gap5 gap5"
			/* 9 */ ". studentText studentText studentText studentText studentImg studentImg studentImg studentImg studentImg studentImg studentImg"
			/* 9.1 */ "gap6 gap6 gap6 gap6 gap6 gap6 gap6 gap6 gap6 gap6 gap6 gap6"
			/* 10*/ ". challengeImg challengeImg challengeImg challengeImg challengeImg challengeImg challengeText challengeText challengeText challengeText challengeText"
			/* 10.1 */ "gap7 gap7 gap7 gap7 gap7 gap7 gap7 gap7 gap7 gap7 gap7 gap7"
			/* 11*/ ". workshpText workshpText workshpText workshpText workshpImg workshpImg workshpImg workshpImg workshpImg workshpImg workshpImg"
			/* 11.1 */ "gap8 gap8 gap8 gap8 gap8 gap8 gap8 gap8 gap8 gap8 gap8 gap8"
			/* 12*/ "div3 div3 div3 div3 div3 div3 div3 div3 div3 div3 div3 div3"
			/* 12.1 */ "gap9 gap9 gap9 gap9 gap9 gap9 gap9 gap9 gap9 gap9 gap9 gap9"
			/* 13 */ ". speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText . . ."
			/* 13.1 */ "gap10 gap10 gap10 gap10 gap10 gap10 gap10 gap10 gap10 gap10 gap10 gap10"
			/* 14 */ ". speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg . speakerIllu speakerIllu speakerIllu speakerIllu"
			/*14.1*/ "gap11 gap11 gap11 gap11 gap11 gap11 gap11 gap11 gap11 gap11 gap11 gap11"
			/*/* 15 */ /*"agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda"*/
			/*15.x */ "gapx gapx gapx gapx gapx gapx gapx gapx gapx gapx gapx gapx"
			/*15.1*/ "gap12 gap12 gap12 gap12 gap12 gap12 gap12 gap12 gap12 gap12 gap12 gap12"
			/* 16 */ ". universText universText universText universText universText universText universText universText . . ."
			/*16.1*/ "gap13 gap13 gap13 gap13 gap13 gap13 gap13 gap13 gap13 gap13 gap13 gap13"
			/* 17 */ ". universImg universImg universImg universImg universImg universImg universIllu universIllu universIllu universIllu universIllu"
			/*17.1*/ "gap14 gap14 gap14 gap14 gap14 gap14 gap14 gap14 gap14 gap14 gap14 gap14"
			/* 18 */ "div4 div4 div4 div4 div4 div4 div4 div4 div4 div4 div4 div4"
			/*18.1*/ "gap15 gap15 gap15 gap15 gap15 gap15 gap15 gap15 gap15 gap15 gap15 gap15"
			/* 19 */ ". partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText . . ."
			/*19.1*/ "gap16 gap16 gap16 gap16 gap16 gap16 gap16 gap16 gap16 gap16 gap16 gap16"
			/* 20 */ ". partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerIllu partnerIllu partnerIllu partnerIllu partnerIllu"
			/*20.1*/ "gap17 gap17 gap17 gap17 gap17 gap17 gap17 gap17 gap17 gap17 gap17 gap17"
			/* 21 */ "div5 div5 div5 div5 div5 div5 div5 div5 div5 div5 div5 div5"
			/*21.1*/ "gap18 gap18 gap18 gap18 gap18 gap18 gap18 gap18 gap18 gap18 gap18 gap18"
			/* 23 */ "faq faq faq faq faq faq faq faq faq faq faq faq"
			/* 24 */ "footer footer footer footer footer footer footer footer footer footer footer footer";
	}
	#logo {
		margin-left: 85px;
		width: 115px;
		height: 50px;
	}
	#signup_btn_nav {
		margin-right: 8.3%;
	}

	.start_text__container {
		text-align: left;
		justify-self: stretch;
	}
	.signUp_button_start {
		display: none;
	}

	.website_title {
		font-size: 100px;
	}

	.website_subtitle {
		color: var(--unicon-font-color);
		font-size: 24px;
		font-weight: 600;
	}

	.start_illustration_mobile {
		display: none;
	}

	.start_illustration_desktop {
		display: block;
		width: 100%;
			}

	.date_and_location {
		display: none;
	}
	.video__container {
		width: 90%;
		margin-bottom: 0;
	}
	.video_header {
		font-size: 34px;
		font-weight: 900;
	}
	.video_subHeader {
		font-size: 24px;
		font-weight: 600;
	}
	iframe {
		height: 550px;
	}
	.signup_illustration {
		width: 100%;
	}
	.signUp_text {
		font-size: 18px;
		text-align: left;
		width: 470px;
	}

	.right_image, 
	.left_image {
	display: block;
}

	.right_image {
		width: 65%;
		max-height: 33vw;
		border-radius: 50% 92% 76% 127%;
	}
	.left_image {
		width: 75%;
		max-height: 33vw;
		border-radius: 50% 92% 76% 127%;
	}

	.image_center {
		display: flex;
		justify-content: center;
	}
	.speech_text__container {
		margin: 0;
	}
	i.material-icons-round {
		display: none;
	}
	.info_text {
		width: 380px;
	}
	.info_header {
		font-size: 34px;
		font-weight: 900;
	}
	.info_section_text {
		font-size: 16px;
		margin: 18px 0px 20px 0px;
	}
	.info_quote {
		margin-top: 20px;
	}
	
	.info_section_quote {
		font-size: 18px;
		font-weight: 600;
		font-style: italic;
		margin-top: 20px;
	}

	.left_text {
		text-align: left;
	}
	.right_text {
		text-align: right;
	}

	.speaker_text__container {
		text-align: left;
	}
	#speaker5,
	#speaker6 {
		display: block;
	}
	.speaker_img__container {
		display: grid;
		grid-template-columns: repeat(3, 190px);
		grid-template-rows:
		230px 230px;
		grid-template-areas:
			"speaker1 speaker2 speaker3"
			"speaker4 speaker5 speaker6";
		justify-items: center;
		align-self: center;
	}
	.speaker_image {
		width: 130px;
		height: 130px;
		border: none;
	}
	#speaker_illustration {
		width: 100%;
	}
	.speaker_name {
		font-size: 15px;
		font-weight: 900;
	}
	.speaker_company {
		font-size: 10px;
		font-weight: 600;
	}
	.agenda__container img {
		width: 100%;
	}
	.university_text__container {
		justify-self: start;
	}
	#uni9, #uni10, #uni11, #uni12 {
		display: block;
	}
	.university_img__container {
		display: grid;
		grid-template-columns: repeat(4, 180px);
		grid-template-rows: repeat(3, 130px);
		grid-template-areas:
			"uni1 uni2 uni3 uni4"
			"uni5 uni6 uni7 uni8"
			"uni9 uni10 uni11 uni12";
		justify-items: stretch;
		align-self: center;
		margin: 0;
		width: 100%;
	}
	.university_image_desktop {
		width: 140px;
		height: 105px;
	}
	.image_
	.university_illustration__container {
		display: block;
	}
	.university_illustration__container img {
		width: 70%;
	}

	.partner_img__container {
		display: grid;
		grid-template-columns: repeat(4, 140px);
		grid-template-rows: repeat(3, 100px);
		grid-template-areas:
			"partner1 partner2 partner3 partner4"
			"partner5 partner6 partner7 partner8"
			"partner9 partner10 . .";
		justify-items: stretch;
		align-self: center;
		margin: 0;
	}
	.partner_image {
		width: 100%;
		height: 100%;
	}
	.partner_illustration__container {
		display: block;
		width: 100%;
		height: 80%;
	}
	.partner_illustration__container img {
		width: 80%;
		margin-top: -90px;
	}
	.faq_header {
		margin-left: 7%;
	}
	.accordion {
		font-size: 20px;
		font-weight: 600;
		padding-left: 50px;
	}
	.panel p {
		font-size: 16px;
		text-align: left;
		padding-left: 35px;
	}

	footer div h4 {
		font-size: 32px;
		font-weight: 900;
	}

	footer div ul li {
		text-decoration: none;
		font-size: 18px;
		font-weight: 600;
		margin: 10px;
	}

	.about_section {
		text-align: left;
	}
	.about_title {
		color: var(--unicon-pink);
		font-size: 100px;
		font-weight: 900;
		margin-bottom: 80px;
		padding-top: 150px;
		margin-left: 15%;
	}
	.about_header {
		color: var(--unicon-font-color);
		font-size: 34px;
		font-weight: 900;
		margin-bottom: 30px;
		margin-left: 15%;
	}
	.about_text {
		font-size: 18px;
		margin-left: 15%;
		text-align: left;
	}
	.gap_one {
		margin-bottom: 95px;
	}
	.about_imageWrapper {
		display: grid;
		align-items: center;
		justify-items: center;
	}
	.founding_names {
		font-size: 14px;
	  	font-weight: 900;
	  	margin: 0px 5% 80px 5%;
	  	text-align: center;
	}
	.active_image {
		width: 57%;
		margin: 16px 5% 90px 15%;
		border-radius: 5px;
		text-align: center;
	}
	.mobile_values {
		display: none;
	}
	.desktop_values {
		display: block;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.speaker_image {
		width: 160px;
		height: 160px;
		border: none;
	}
	.speaker_name {
		font-size: 17px;
		font-weight: 900;
	}
	.speaker_company {
		font-size: 12px;
		font-weight: 600;
	}
	.speaker_img__container {
		grid-column-gap: 5%;
		width: 100%;
	}
	.right_image {
		max-height: 800px;
	}
	.right_image {
		max-height: 800px;
	}
}