@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&display=swap');

:root {
	--unicon-pink: #e8317c;
	--unicon-lightblue: #b3e2ed;
	--unicon-font-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

.grid {
	display: grid;
}

/* START of: grid-area definition */

.start_text__container {
	grid-area: startText;
}

.start_img__container {
	grid-area: startImg;
	width: 100%
}

.video_text__container {
	grid-area: videoT;
}

.video__container {
	grid-area: video;
}

.divider_one__container {
	grid-area: div1;
}
.signup_text__container {
	grid-area: signupText;
}
.divider_two__container {
	grid-area: div2;
}

.signup_img__container {
	grid-area: signupImg;
}

.speech_text__container {
	grid-area: speechText;
}

.speech_img__container {
	grid-area: speechImg;
}

.student_text__container {
	grid-area: studentText;
}

.student_img__container {
	grid-area: studentImg;
}

.challenge_text__container {
	grid-area: challengeText;
}

.challenge_img__container {
	grid-area: challengeImg;
}

.workshop_text__container {
	grid-area: workshpText;
}

.workshop_img__container {
	grid-area: workshpImg;
}

.divider_five__container {
	grid-area: div5;
}

.speaker_text__container {
	grid-area: speakerText;
}

.speaker_img__container {
	grid-area: speakerImg;
}

.divider_six__container {
	grid-area: div6;
}

.agenda__container {
	grid-area: agenda;
}

.university_text__container {
	grid-area: universText;
}

.university_img__container {
	grid-area: universImg;
}

.divider_three__container {
	grid-area: div3;
}
.partner_text__container {
	grid-area: partnerText;
}

.partner_img__container {
	grid-area: partnerImg;
}
.divider_four__container {
	grid-area: div4;
}

.faq__container {
	grid-area: faq;
}

footer {
	grid-area: footer;
}

/*  END of: grid-area definition */

/* START of: grid definition MOBILE*/
.grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:
		/*2. startText*/
		380px
		/* 3. startImg*/
		300px
		/* 4. videoText*/
		140px
		/* 4.1 video*/
		360px
		/*5.1 divider*/
		12px
		/* 5. signupText*/
		200px
		/*5.2 divider*/
		12px
		/*6. sppech */
		300px
		/* 7.- 9. , students, challenge, workshop*/
		repeat(3, 230px)
		/*9.1*/
		16px
		/* 10. spaekerText*/
		190px
		/* 11. speakerImg*/
		360px
		/*11.1*/
		16px
		/* 12. universText*/
		150px
		/* 13. universImg*/
		240px
		/*14.1 divider*/
		12px
		/* 14. partnerText*/
		240px
		/* 15. partnerImg*/
		110px
		/*15.2 divider*/
		25px
		/* 16. FAQ*/
		auto
		/* 17. footer*/
		175px;

	grid-template-areas:
		/*2*/
		"startText startText startText startText"
		/*3*/
		"startImg startImg startImg startImg"
		/*4*/
		"videoT videoT videoT videoT"
		/*4.1*/
		"video video video video"
		/*5.1*/
		"div1 div1 div1 div1"
		/*5*/
		"signupText signupText signupText signupText"
		/*5.2*/
		"div2 div2 div2 div2"
		/*6*/
		"speechText speechText speechText speechText"
		/*7*/
		"studentText studentText studentText studentText"
		/*8*/
		"challengeText challengeText challengeText challengeText"
		/*9*/
		"workshpText workshpText workshpText workshpText"
		/*9.1*/
		"div5 div5 div5 div5"
		/*10*/
		"speakerText speakerText speakerText speakerText"
		/*11*/
		"speakerImg speakerImg speakerImg speakerImg"
		/*11.1*/
		"div6 div6 div6 div6"
		/*12*/
		"universText universText universText universText"
		/*13*/
		"universImg universImg universImg universImg"
		/*14.1*/
		"div3 div3 div3 div3"
		/*14*/
		"partnerText partnerText partnerText partnerText"
		/*15*/
		"partnerImg partnerImg partnerImg partnerImg"
		/*15.1*/
		"div4 div4 div4 div4"
		/*16*/
		"faq faq faq faq"
		/*17*/
		"footer footer footer footer";

	text-align: center;
	justify-items: center;
	align-items: center;
}


/* END of: grid definiton MOBILE*/
header {
	display: flex;
	width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 15px;
}

.topnav a:first-child {
	padding-left: 8px;
	padding-bottom: 0px;
}

.topnav a:first-child {
	float: left;
	display: block;
}

/* Change the color of links on hover */
.topnav a:hover {
	color: var(--unicon-pink);
}

/* Add an active class to highlight the current page */
.topnav a.active {
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 732px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 732px) {
	.topnav.responsive {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(179, 226, 237, 0.95);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
		font-weight: 900;
		font-size: 16px;	
	}

	nav a:nth-child(2) {
		margin-top: 40px;
		color: white;
	}
}

.material-icons-round.md-36 { 
	font-size: 36px; 
} 
.material-icons-round.white {
	color: white;
}

.material-icons-round.circle {
	background-color: var(--unicon-pink);
	padding: 10px 10px 11px 10px;
	border-radius: 50px;
	margin-bottom: 5px;
}
#logo {
	width: 120px;
	height: 46px;
	float: left;
	margin: 1px 15px;
}

#first_link {
	padding: 0;
}
#signup_btn_nav {
	background-color: var(--unicon-lightblue);
	color: var(--unicon-pink);
}

.start_text__container {
	padding-top: 70px;
}
.website_title {
	font-size: 38px;
	font-weight: 900;
	color: var(--unicon-pink);
}
.website_subtitle {
	font-size: 14px;
	font-weight: 900;
	color: var(--unicon-pink);
}
.start_illustration_mobile {
	width: 100%;
	height: 277px;
}
.date_and_location {
	font-size: 14px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}
.signUp_button_page {
	font-size: 20px;
	font-weight: 800;
	background-color: var(--unicon-pink);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 9px 25px;
}


.video_text__container {
	text-align: center;
	align-self: end;
}
.video_header {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;
}
.video_subHeader {
	font-size: 12px;
	font-weight: 600;
}
.video_header,
.video_subHeader {
	width: 290px;
	text-decoration: none;
}
.video__container {
	margin-bottom: 50px;
}
iframe {
	height: 190px;
	border: 8px solid var(--unicon-lightblue);
	border-radius: 5px;
}




.signup_text__container {
	align-self: center;
}
.signUp_text {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 25px;
	width: 340px;
}





.divider {
	width: 100%;
}

.center {
	text-align: center;
}

span {
	color: var(--unicon-pink);
}




.speech_text__container {
	margin-bottom: -80px;
}




.info_section_text {
	margin-top: 10px;
	font-size: 12px;
	margin: 10px 35px;
}

.speaker_text__container {
	margin-top: 80px;
}
#speaker1 {
	grid-area: speaker1;
}
#speaker2 {
	grid-area: speaker2;
}
#speaker3 {
	grid-area: speaker3;
}
#speaker4 {
	grid-area: speaker4;
}
#speaker5 {
	grid-area: speaker5;
}
#speaker6 {
	grid-area: speaker6;
}
.speaker_img__container {
	display: grid;
	grid-template-columns: repeat(2, 160px);
	grid-template-rows:
		150px 150px;
	grid-template-areas:
		"speaker4 speaker1"
		"speaker3 speaker2";
	justify-items: center;
	align-items: center;
}
.speaker_image {
	border: 5px solid var(--unicon-lightblue);
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.speaker_name {
	font-size: 10px;
}
.speaker_company {
	font-size: 8px;
}


.university_text__container {
	margin-top: 85px;
}
#uni_tum{
	grid-area: tum;
}
#uni_whu {
	grid-area: whu;
}
#uni_hpi {
	grid-area: hpi;
}
#uni_warwick {
	grid-area: waw;
}
#uni_zeppelin {
	grid-area: zep;
}
#uni_mannheim {
	grid-area: uom;
}
#uni_tub {
	grid-area: tub;
}
#uni_maastricht {
	grid-area: maa;
}
.university_img__container {
	display: grid;
	grid-template-columns: repeat(4, 76px);
	grid-template-rows:
		50px 50px;
	grid-row-gap: 20px;
	grid-template-areas:
		"tub whu tum hpi"
		"zep uom waw maa";
	align-items: center;
	justify-items: center;
	margin-bottom: 80px;
	margin-top: 20px;
}
.university_image {
	width: 80px;
	height: 60px;
}


.partner_text__container {
	align-self: start;
}
.partner_text__container h2 {
	margin-top: 30px;
	padding-top: 0px;
}
#contact_link {
	color: var(--unicon-pink);
font-weight: bold;
}

#partner1{
		grid-area: partner1;
}
#partner2{
	grid-area: partner2;
}
#partner3{
	grid-area: partner3;
}
#partner4{
	grid-area: partner4;
}
#partner5{
	grid-area: partner5;
}
#partner6{
	grid-area: partner6;
}
#partner7{
	grid-area: partner7;
}
#partner8{
	grid-area: partner8;
}
#partner9{
	grid-area: partner9;
}
#partner10{
	grid-area: partner10;
}
#partner11{
	grid-area: partner11;
}
#partner12{
	grid-area: partner12;
}
.partner_img__container {
	display: grid;
	grid-template-columns: repeat(5, 56px);
	grid-template-rows:
		40px 40px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-areas:
		"partner1 partner2 partner3 partner4 partner5"
		"partner6 partner7 partner8 partner9 partner10";
		margin-bottom: 30px;
}
.partner_image {
	width: 60px;
	height: 40px;
}

.divider_four__container {
	margin-top: 30px;
}

.divider_five__container {
	margin-top: 50px;
}

.faq__container {
	margin: 45px 0px;
}
.faq_header {
	margin-bottom: 35px;
	padding-top: 50px;
}

.accordion {
  color: var(--unicon-font-color);
  background-color: white;
  cursor: pointer;
  padding: 18px 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  border-top: 1px solid var(--unicon-lightblue);
  border-bottom: 1px solid var(--unicon-lightblue);
}

.border_2px_top {
	border-top-width: 2px;
}
.border_2px_bot {
	border-bottom-width: 2px;
}

.active, .accordion:hover {
  background-color:var(--unicon-lightblue);
  color: white;
  margin: 10px 0px;
}

.accordion:after {
  content: '\002B';
   color: var(--unicon-pink);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: var(--unicon-pink);
}

.panel {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
	font-size: 10px;
	font-weight: 600px;
}


footer {
	background-color: var(--unicon-lightblue);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:  space-evenly;
	margin-left: 0vw;
}
footer div h4 {
	margin: 15px;
	text-align: center;
    font-size: 15px;
}
footer ul {
	list-style: none;
}
footer div li {
	font-size: 13px;
	margin: 5px;
}
footer div li a {
	color: var(--unicon-font-color);
}

.start_illustration_desktop,
.desktop_divider,
.signup_illustration,
#info_section_image,
#speaker5,
#speaker6,
#speaker_illustration,
.agenda__container,
.university_name,
.university_illustration,
.university_image_desktop,
#partner11, #partner12,
.info_section_quote {
	display: none;
}









/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}







