@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&display=swap');

:root {
	--unicon-pink: #e8317c;
	--unicon-lightblue: #b3e2ed;
	--unicon-font-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

.grid {
	display: grid;
}

/* START of: grid-area definition */
header {
	grid-area: navbar;
}

.start_text__container {
	grid-area: startText;
}

.start_img__container {
	grid-area: startImg;
}

.video__container {
	grid-area: video;
}

.signup_text__container {
	grid-area: signupText;
}

.signup_img__container {
	grid-area: signupImg;
}

.speech_text__container {
	grid-area: speechText;
}

.speech_img__container {
	grid-area: speechImg;
}

.student_text__container {
	grid-area: studentText;
}

.student_img__container {
	grid-area: studentImg;
}

.challenge_text__container {
	grid-area: challengeText;
}

.challenge_img__container {
	grid-area: challengeImg;
}

.workshop_text__container {
	grid-area: workshpText;
}

.workshop_img__container {
	grid-area: workshpImg;
}

.speaker_text__container {
	grid-area: speakerText;
}

.speaker_img__container {
	grid-area: speakerImg;
}

.agenda__container {
	grid-area: agenda;
}

.university_text__container {
	grid-area: universText;
}

.university_img__container {
	grid-area: universImg;
}

.partner_text__container {
	grid-area: partnerText;
}

.partner_img__container {
	grid-area: partnerImg;
}

.faq__container {
	grid-area: faq;
}

footer {
	grid-area: footer;
}

/*  END of: grid-area definition */

/* START of: grid definition MOBILE*/
.grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:
		/* 1. nav*/
		50px
		/*2. startText*/
		335px
		/* 3. startImg*/
		277px
		/* 4. video*/
		300px
		/* 5. signupText*/
		135px
		/* 6.- 9. sppech, students, challenge, workshop*/
		repeat(4, 120px)
		/* 10. spaekerText*/
		140px
		/* 11. speakerImg*/
		326px
		/* 12. universText*/
		100px
		/* 13. universImg*/
		116px
		/* 14. partnerText*/
		190px
		/* 15. partnerImg*/
		100px
		/* 16. FAQ*/
		444px
		/* 17. footer*/
		144px;

	grid-template-areas:
		/*1*/
		"navbar navbar navbar navbar"
		/*2*/
		"startText startText startText startText"
		/*3*/
		"startImg startImg startImg startImg"
		/*4*/
		"video video video video"
		/*5*/
		"signupText signupText signupText signupText"
		/*6*/
		"speechText speechText speechText speechText"
		/*7*/
		"studentText studentText studentText studentText"
		/*8*/
		"challengeText challengeText challengeText challengeText"
		/*9*/
		"workshpText workshpText workshpText workshpText"
		/*10*/
		"speakerText speakerText speakerText speakerText"
		/*11*/
		"speakerImg speakerImg speakerImg speakerImg"
		/*12*/
		"universText universText universText universText"
		/*13*/
		"universImg universImg universImg universImg"
		/*14*/
		"partnerText partnerText partnerText partnerText"
		/*15*/
		"partnerImg partnerImg partnerImg partnerImg"
		/*16*/
		"faq faq faq faq"
		/*17*/
		"footer footer footer footer";
}

/* END of: grid definiton MOBILE*/
header {
	display: flex;
}

.agenda__container {
	display: none;
}

#speech_img {
	display: none;
}

.m_title {
	font-size: 38px;
	font-weight: 900;
	color: var(--unicon-pink);
	margin-top: 65px;
}

.m_titlesubTitle {
	font-size: 14px;
	font-weight: 900;
	color: var(--unicon-pink);
}

.m_dateLocation {
	font-size: 14px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}

#m_start_img {
	height: 277px;
}

.m_signUp {
	font-size: 20px;
	font-weight: 800;
	background-color: var(--unicon-pink);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 9px 25px;
}


.m_videoHeader {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;
}

.m_videoSubTitles {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 55px;
}



.m_textSignUp {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 25px;
}

.m_textInfoP {
	margin: 10px 18px;
	font-size: 12px;
}
.d_textInfoQuote {
	display: none;
}

.m_font12px {
	font-size: 12px;
}


.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}


footer {
	background-color: var(--unicon-lightblue);
}

/* Hide desktop elements with different content on mobile */
@media screen and (max-width: 900px) {
	.d_titlesubTitle {
		display: none;
	}

	.d_dateLocation {
		display: none;
	}

	.d_video {
		display: none;
	}

	.d_imageDivRight {
		display: none;
		overflow: none;
	}

	.d_imageDivLeft {
		display: none;
	}

	.d_imageDivRight img {
		width: 0;
		height: 0;
	}

	.d_imageDivLeft img {
		width: 0;
		height: 0;
	}

	.d_speakerWrapper {
		display: none;
	}

	.d_speakerImg {
		width: 0;
	}

	#speaker_illustration {
		width: 0;
	}
}

/* START of Desktop classes */
@media screen and (min-width: 900px) {
	#speaker1 {
		grid-area: speaker1;
	}
	#speaker2 {
		grid-area: speaker2;
	}
	#speaker3 {
		grid-area: speaker3;
	}
	#speaker4 {
		grid-area: speaker4;
	}
	#speaker5 {
		grid-area: speaker5;
	}
	#speaker6 {
		grid-area: speaker6;
	}

	#speaker_illustration_div {
		grid-area: speakerIllu;

	}

	.grid {
		display: grid;
		grid-template-columns: repeat(12, 8.33vw);
		grid-template-rows:
			/* 1. navbar*/
			72px
			/* 2. startText*/
			367px
			/* 3. startImg*/
			auto
			/* 4. video*/
			auto
			/* 5. signup*/
			240px
			/* 6. - 9. sppech, students, challenge, workshp, */
			repeat(4, 380px)
			/* 10. speakerText*/
			120px
			/* 11. speakerImg*/
			575px
			/* 12. agenda*/
			684px
			/* 13. universText*/
			90px
			/* 14. universImg*/
			329px
			/* 15. partnerText*/
			160px
			/* 16. partnerImg*/
			385px
			/* 17. faq*/
			739px
			/* 18. footer*/
			342px;

		grid-template-areas:
			/* 1 */
			'navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar'
			/* 2 */
			"startText startText startText startText startText startText startText startText startText startText startText startText"
			/*3 */
			"startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg startImg"
			/*4 */
			"video video video video video video video video video video video video"
			/*5*/
			"signupImg signupImg signupImg signupImg signupImg signupImg signupText signupText signupText signupText signupText signupText"
			/*6*/
			"speechImg speechImg speechImg speechImg speechImg speechImg speechText speechText speechText speechText speechText speechText"
			/*7*/
			"studentText studentText studentText studentText studentText studentText studentImg studentImg studentImg studentImg studentImg studentImg"
			/*8*/
			"challengeImg challengeImg challengeImg challengeImg challengeImg challengeImg challengeText challengeText challengeText challengeText challengeText challengeText"
			/*9*/
			"workshpText workshpText workshpText workshpText workshpText workshpText workshpImg workshpImg workshpImg workshpImg workshpImg workshpImg"
			/*10*/
			"speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText speakerText"
			/*11*/
			"speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg speakerImg "
			/*12*/
			"agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda agenda"
			/*13
			"universText universText universText universText universText universText universText universText universText universText universText universText"
			/*14
			"universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg universImg"
			/*15
			"partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText partnerText"
			/*16
			"partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg partnerImg"
			/*17
			"faq faq faq faq faq faq faq faq faq faq faq faq"
			/*18
			"footer footer footer footer footer footer footer footer footer footer footer footer"*/
		;
	}
	.speaker-grid {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: 
		280px
		280px;
		grid-template-areas: 
		"speaker1 speaker2 speaker3 speakerIllu"
		"speaker4 speaker5 speaker6 speakerIllu"		
		;
	}
	/* Disable mobile classes */
	/* display: none; */
	.m_title {
		display: none;
	}

	.m_titlesubTitle {
		display: none;
	}

	.m_dateLocation {
		display: none;

	}

	#m_start_img {
		display: none;
	}

	.m_signUp {
		display: none;
	}


	.m_videoHeader {
		display: none;
	}

	.m_videoSubTitles {
		display: none;
	}



	.m_textSignUp {
		display: none;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 25px;
	}

	.m_textInfoP {
		display: none;
		margin: 10px 18px;
		font-size: 12px;
	}

	.m_font12px {
		display: none;
		font-size: 12px;
	}


	/* Define desktop classes */
	#d_start_img {
		width: 100vw;
	}

	.d_title {
		grid-column-start: 1;
		grid-column-end: 6;
		font-size: 100px;
		font-weight: 900;
		color: var(--unicon-pink);
		margin-top: 65px;
		text-align: left;

		margin-left: 75px;
	}


	.d_titlesubTitle {
		text-align: left;
		margin-left: 75px;
		font-size: 25px;
		font-weight: 500;
		color: var(--unicon-font-color);
	}

	.m_dateLocation {
		visibility: hidden;
	}

	.d_dateLocation {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		margin-top: 380px;
		margin-bottom: 40px;
		margin-left: 75px;
	}

	#signup-btn-start {
		visibility: hidden;
	}

	.d_signUp {
		font-size: 20px;
		font-weight: 800;
		background-color: var(--unicon-pink);
		color: white;
		border-radius: 5px;
		border: none;
		padding: 9px 25px;
	}



	.d_videoHeader {
		text-align: left;
		font-size: 25px;
		font-weight: 700;
		margin-left: 75px;
		margin-top: 100px;
	}

	.d_videoSubTitles {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		margin-left: 180px;
		margin-bottom: 55px;
	}

	.d_iframeContainer {
		margin-left: 10%;
		margin-right: 10%;
		text-align: left;
		position: relative;
		padding-bottom: 45%;
		overflow: hidden;
	}

	.d_iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.d_textSignUp {
		/*grid-column-start: 4;*/
		font-size: 20px;
		text-align: left;
		font-weight: 500;
		margin-bottom: 25px;

		margin-right: 10vw;
	}

	.d_sectionImg {
		max-width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	h2 {
		font-size: 35px;
	}

	.d_textInfoWrapperLeft {
		overflow: hidden;
		max-width: 30%;
		float: left;
		margin-top: 50px;
		margin-left: 10%;
		text-align: right;
	}

	.d_textInfoWrapperRight {
		overflow: hidden;
		margin-top: 50px;
		text-align: left;
		max-width: 30%;
		margin-right: 10%;
		float: right;
	}

	.d_textInfoP {
		margin-top: 18px;
		font-size: 16px;
		float: none;
		/*display: inline;*/
	}

	.d_imageDivRight {
		margin-right: 180px;
		width: 500px;
		height: 400px;
		overflow: hidden;
		float: right;
	}

	.d_imageDivRight img {
		width: 500px;
		height: 400px;
	}

	.d_imageDivLeft {
		margin-left: 180px;
		width: 500px;
		height: 400px;
		overflow: hidden;
		float: left;
	}

	.d_imageDivLeft img {
		width: 500px;
		height: 400px;
	}

	.d_textInfoQuote {
		margin-top: 50px;
	}

	.d_speakerImg {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		overflow: hidden;
	}



	.d_speakerName {
		font-size: 24px;
		;
	}

	.d_speakerPosition {
		font-size: 16px;
	}

	.d_speaker {
		margin: 20px;


	}


	#speaker_illustration {
		width: 200px;
		height: 450px;
	}

	.d_font12px {
		font-size: 12px;
	}

	.d_agendaHeader {
		margin-left: 180px;
		margin-bottom: 50px;
	}

	.d_agendaDay {
		float: left;
		margin-left: 180px;
	}

	.d_agendaTable {
		margin-top: 30px;
	}

	.d_agendaTable tr {
		height: 40px;
	}

	.d_agendaTable td {
		width: 150px;
	}

	.d_studentsHeader {
		text-align: left;
		margin-left: 180px;
		margin-top: 50px;
	}
}