

	/* Main grid areas */
	/* Most main grid areas are defined outside of media query and can be used for desktop layout as well */
	/* Partner illustration as main grid area, partner grid only has partner images inside */
	#partner-illu-div {
		grid-area: partnerIllu;
		
	}
	
	/* Divider img containers */
	#path1-container {
		grid-area: path1;
	}

	#path2-container {
		grid-area: path2;
	}

	#path3-container {
		grid-area: path3;
	}

	#path4-container {
		grid-area: path4;
	}

	#path5-container {
		grid-area: path5;
	}


	/* Speaker-grid container */
	.speaker-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows:
			auto auto;
		row-gap: 20px;
		column-gap: 20px;
		grid-template-areas:
			"speaker1 speaker2 speaker3 speakerIllu"
			"speaker4 speaker5 speaker6 speakerIllu"
		;
	}


	#speaker_illustration_div {
		grid-area: speakerIllu;
		display: flex;
		align-content: center;

	}

	/* Agenda-grid container */
	#agenda_background {
		margin-left: 10vw;
		margin-right: 10vw;
		text-align: left;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows:
			auto auto auto auto auto auto auto;
		grid-template-areas:
			"agenda_header agenda_header agenda_header"

			"agenda_none1 agenda_none2 agenda_d3"

			"agenda_none1 agenda_d2 agenda_d3"

			"agenda_d1 agenda_d2 agenda_d3"

			"agenda_none3 agenda_d2 agenda_d3"
			"agenda_none3 agenda_none4 agenda_d3";
	}
	/* Agenda-grid areas */

	#agenda-none1 {
		grid-area: agenda_none1;
	}

	#agenda-none2 {
		grid-area: agenda_none2;
	}

	#agenda-none3 {
		grid-area: agenda_none3;
	}

	#agenda-none4 {
		grid-area: agenda_none4;
	}

	#agenda-day1 {
		grid-area: agenda_d1;
	}

	#agenda-day2 {
		grid-area: agenda_d2;
	}

	#agenda-day3 {
		grid-area: agenda_d3;
	}

	 Universities-grid container 
	.university_img__container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows:
			150px 150px;
		grid-row-gap: 20px;
		grid-column-gap: 15px;
		grid-template-areas:
			"tum whu hpi waw globe globe"
			"zep tub uom maa globe globe";
		align-items: center;
		justify-items: center;
		margin-bottom: 15%;
	}
	/* Universities-grid areas */
	#globe_illustration {
		grid-area: globe;
	}

	/* Partners-grid container */

	

	/* Disable mobile classes that interfere with desktop layout */
	.m_titlesubTitle,
	.m_dateLocation,
	#m_start_img,
	#signup-btn-start,
	#m_faq_header,
	.path1-container-mobile,
	.path2-container-mobile{
		display: none;
	}
	.m_textInfoP {
		width: unset;
		margin: 10px 18px;
		font-size: 12px;
	}

	.m_font12px {
		display: none;
		font-size: 12px;
	}

	.m_videoSubTitles {
		width: unset;
	}
	.m_videoHeader {
		width: unset;
	}


	/* START OF DESKTOP CLASS DEFINITION */
	/* Body, wrapper and dividers */

	#page-wrapper {
		margin-left: 10%;
		margin-right: 10%;
	}

	.divider {
		width: 100vw;
		margin-left: -10%;
		margin-right: -10%;
	}
	/* Learn more buttons */
	.d_learn-more-btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--unicon-pink);
		float: right;
		color: white;
		font-size: 30px;
		font-weight: 900;
	}
	.d_learn-more-btn-text{
		margin-top: 12.5px;
		margin-right: 15px;
		float:right;
	}

	/*
	++++++++++++++++++++++++
	SECTION SPECIFIC CLASSES
	++++++++++++++++++++++++
	*/



	/* 
	Start Section 
	+++++++++++++
	*/
	.start_text__container {
		padding-top: 350px;
	}
	#d_start_img {
		margin-left: -10vw;
		width: 100vw;
	}
	.d_title {
		grid-column-start: 1;
		grid-column-end: 6;
		font-size: 100px;
		font-weight: 900;
		color: var(--unicon-pink);
		margin-top: 65px;
		text-align: left;
	}


	.d_titlesubTitle {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		color: var(--unicon-font-color);
	}

	.d_dateLocation {
		text-align: left;
		font-size: 22px;
		font-weight: 500;
		margin-top: 260px;
		margin-bottom: 40px;
	}

	/* 
	Aftermovie Section
	++++++++++++++++++
	*/
	.video__container {
		width: 100%;
	}

	.d_videoHeader {
		text-align: left;
		font-size: 25px;
		font-weight: 700;
		margin-left: 75px;
		margin-top: 100px;
	}

	.d_videoSubTitles {
		text-align: left;
		font-size: 25px;
		font-weight: 500;
		margin-left: 180px;
		margin-bottom: 55px;
	}

	.d_iframeContainer {
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
		text-align: left;
		position: relative;
		padding-bottom: 45%;
		overflow: hidden;
	}

	.d_iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	/* 
	Signup Section
	++++++++++++++
	*/
	.d_signUp {
		font-size: 20px;
		font-weight: 800;
		background-color: var(--unicon-pink);
		color: white;
		border-radius: 5px;
		border: none;
		padding: 9px 25px;
	}
	.d_textSignUp {
		font-size: 20px;
		text-align: left;
		font-weight: 500;
		margin-bottom: 25px;
		margin-right: 10vw;
		width: 90%;
		padding-left: 10%;
	}
	.signup_text__container {
		text-align: center;
	}
	.signup_img__container {
		width: 100%;
	}
	#signup-img {
		width: 100%;
	}

	/* 
	Speeches-Workshops Section
	++++++++++++++++++++++++++
	*/
	h2 {
		font-size: 35px;
		text-transform: lowercase;
	}
	h2::first-letter {
		color: unset;
	}

	.d_textInfoP {
		margin-top: 18px;
		font-size: 16px;
		float: none;
	}

	.d_textInfoQuote {
		margin-top: 50px;
	}

	.d_sectionImg {
		max-width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	/* 
	Former Speakers Section
	+++++++++++++++++++++++
	*/

	.speaker_text__container {
		padding-top: 15%;
	}

	.d_speakerImg {
		border-radius: 50%;
		width: 100%;
		height: 100%;
		max-width: 178px;
		max-height: 178px;
		overflow: hidden;
		position:absolute;
		top: 0;
	}

/*	.speaker-img-div{
		padding-top: 100%;
		position: relative;
		max-height: 178px;
		display: flex;
		justify-content: center;
		
	}*/

	.d_speakerName {
		font-size: 24px;
		text-align: center;
		width: fit-content;
	}

	.d_speakerPosition {
		font-size: 16px;
		text-align: center;
	}

	#speaker_illustration {
		margin-top: 50%;
		width: 100%;
		height: auto;
	}


	/* 
	Agenda Section
	++++++++++++++
	*/
	.agenda__container {
		width: 100vw;
		margin-left: -10vw;
		padding-bottom: 10%;
		background-image: url(./assets/desktop/agenda-section-background.svg);
		background-size: cover;
	}

	.d_agendaHeader {
		margin-top: 100px;
		grid-area: agenda_header;
		text-align: left;
	}
	.d_agendaDay {
		float: left;
		margin-left: 10%;
	}

	.d_agendaTable {
		margin-top: 30px;
	}

	.d_agendaTable tr {
		height: 40px;
	}

	.d_agendaTable td {
		width: 150px;
	}

	/* 
	Universities Section
	++++++++++++++++++++
	*/
	.d_studentsHeader {
		text-align: left;
		margin-top: 15%;
	}

	.university-img {
		width: 100%;
		height: auto;
	}

	.university-name {
		text-align: center;
	}

	/* 
	Partners Section
	++++++++++++++++
	*/
	.partner_img__container{
		max-width: 100%;
	}
	#partner-illu {
		width: 100%;
	}

	/* 
	FAQ Section
	+++++++++++
	*/
	#d_faq_header{
		margin-bottom: 35px;
	}

	/* 
	Footer
	++++++
	*/
	footer h4 {
		text-align: center;
		font-size: 34px;
	}
	footer ul {
		text-align: center;
		font-size: 18px;
		margin-top: 10px;
	}
	footer li {
		margin: 10px;
	}
}*/


<div id="agenda_background">
				<div class="d_agendaHeader">
					<h2>Agenda</h2>
				</div>
				<article class="university_text__container">
					<div class="d_studentsHeader">
						<h2>Students at <span>unicon</span></h2>
						<p class="info_section_text">We’re happy to say the our attendees at the last two conferences came from over 20 different universities, including the following:
						</p>
					</div>
				</article>
				<div id="agenda-none1"></div>
				<div id="agenda-none2"></div>
				<div id="agenda-day1" class="d_agendaDay">
					<h3>Day 1</h3>
					<table class="d_agendaTable">
						<tbody>
							<tr>
								<td>19:00</td>
								<td>Start</td>
							</tr>
							<tr>
								<td>19:00 - 19:30</td>
								<td>Welcome</td>
							</tr>
							<tr>
								<td>19:30 - 20:15</td>
								<td>Speech 1</td>
							</tr>
							<tr>
								<td>20:30 - 21:15</td>
								<td>Speech 2</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="agenda-none3"></div>
				<div id="agenda-day2" class="d_agendaDay">
					<h3>Day 2</h3>
					<table class="d_agendaTable">
						<tbody>
							<tr>
								<td>9:00</td>
								<td>Breakfast</td>
							</tr>
							<tr>
								<td>10:15 - 11:45</td>
								<td>Welcome Speech</td>
							</tr>
							<tr>
								<td>12:00 - 13:00</td>
								<td>Lunch</td>
							</tr>
							<tr>
								<td>13:15 - 15:30</td>
								<td>Interviews</td>
							</tr>
							<tr>
								<td>16:30 - 18:00</td>
								<td>Workshop</td>
							</tr>
							<tr>
								<td>19:00 - ...</td>
								<td>Dinner and kicker</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="agenda-none4"></div>
				<div id="agenda-day3" class="d_agendaDay">
					<h3>Day 3</h3>
					<table class="d_agendaTable">
						<tbody>
							<tr>
								<td>19:00</td>
								<td>Start</td>
							</tr>
							<tr>
								<td>19:00 - 19:30</td>
								<td>Welcome</td>
							</tr>
							<tr>
								<td>19:30 - 20:15</td>
								<td>Speech 1</td>
							</tr>
							<tr>
								<td>20:30 - 21:15</td>
								<td>Speech 2</td>
							</tr>
							<tr>
								<td>19:00</td>
								<td>Start</td>
							</tr>
							<tr>
								<td>19:00 - 19:30</td>
								<td>Welcome</td>
							</tr>
							<tr>
								<td>19:30 - 20:15</td>
								<td>Speech 1</td>
							</tr>
							<tr>
								<td>20:30 - 21:15</td>
								<td>Speech 2</td>
							</tr>
							<tr>
								<td>19:00 - 19:30</td>
								<td>Welcome</td>
							</tr>
							<tr>
								<td>19:30 - 20:15</td>
								<td>Speech 1</td>
							</tr>
							<tr>
								<td>20:30 - 21:15</td>
								<td>Speech 2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>